.overview-container {
  @apply h-[244px] flex flex-col bg-transparent rounded-md;
  .overview-title {
    @apply rounded-lg;
  }

}
.box-shadow-01{
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    .overview-title {
      border-radius:  4px 4px 0 0;
    }
}

.graph-overview-component {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 0 0 4px 4px;
}

.overview-title {
  @apply p-[5px] px-2 flex justify-center text-reg-gray-800 font-semibold text-[14px] leading-8 bg-reg-gray-300 rounded-t-md;
}
