.graph-settings-accordion-override {
  .rs-panel-header {
    padding: 0 !important;
    @apply text-[13px]
      transition-colors duration-300
      bg-reg-gray-50 border border-reg-gray-200 rounded-md
     hover:bg-reg-gray-100 hover:border hover:border-reg-gray-200 hover:rounded-md
     active:bg-reg-blue-100 active:border active:border-reg-blue-300;
  }

  .rs-panel-btn {
    padding-left: 0.75rem;
    padding-right: 0.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    @apply flex flex-row items-center justify-between;
  }

  .rs-panel-body {
    padding: 0 !important;
  }

  .rs-panel-btn:hover,
  .rs-panel-btn:active,
  .rs-panel-btn:focus {
    @apply bg-transparent;
  }
}

.graph-settings-accordion-selected {

  .rs-panel-header {
    @apply bg-reg-blue-100 border-b-0 rounded-b-none;
  }
}
